body {
	background: #fff;
}

.[this] {
	opacity: 1;
}

.[this].[loading] {
	opacity: 0.2;
	transition: opacity 600ms;
}

.[this] .[loadingElement] {
	display: none;
}

.[this].[loading] .[loadingElement] {
	display: inherit;
}

.[loadingElement] {
	float: right;
}
nav.mmenu {
  display: flex;
  justify-content: center;
}
nav.mmenu ul {
	display: flex;
}

nav.mmenu ul a {
  padding: 1rem 2rem;
}
nav.mmenu li {
  background-image: linear-gradient(to bottom, transparent 50%, #D04B57 50%, #D04B57 95%, #BF404C 95%);
  background-size: 100% 200%;
  background-position: top center;
  color: #666;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out;
}
nav.mmenu li:hover {
  background-position: bottom center;
  color: rgba(0, 0, 0, 0.75);
}
nav.mmenu * a {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #666;
  text-decoration: none;
  display: block;
  padding: 1rem 0;
  transition: all .25s ease-in-out;
}
nav.mmenu li:hover a {
  color: #fff;
  transition: color .25s;
}